.line {
    margin: 25px 0;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(black), to(black), color-stop(50%, grey));
}
body{
  width: 98%;
  font-family: 'Noto Sans JP', sans-serif;
  background: url(bg.jpg);
  background-size: contain;
}
#divmain{
  margin-top: -10px;
  margin-left:-80px;
  width: auto;
  height: auto;
}
ul{
list-style-type:none;
margin-left: ;
padding: 1px;
color: white
background-color: black;
}
li{
 display:inline;
}
.button1:active {
  background-color: #808080;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button1:hover {
  background-color: #808080;
}
#moar{
  margin-left: 40%;
  margin-right: auto;
}
#logo{
	margin-right: 10%;
}	
.button1{
padding: 5px;
padding-right: 5px;
border: none;
color: white;
font-size: 16px;
background: transparent;
font-family: 'Noto Sans JP', sans-serif;
}
#imgf{
  width: 20px;
  height:20px;
}
#imgt{
  width: 20px;
  height:20px;
}
#sign{
height: 20px;
}
#div001{
  margin-bottom: -25px;
  margin-left: 78%;
}
#divend{
  margin-left: 10%;
  width: inherit;
  height: auto;
  margin-right:10%;
}
.payment{
	margin-top:-10%;
	
}	
.a01{
  color:white;
  margin-left: 20px;
  padding: 10px;
  text-decoration: underline;
  height:auto;
}
.a01:hover {
  color: #808080;
}
#endp{
  color:white;
  margin-left: 20px;
  font-size: 12px;
}
#stplogo{
	margin-left: 19.5%;
}	
#logo{
  height:100px;
  width:220px;
  margin-bottom: -12px;
}
#num{
  margin-top:25px;
  width:20px;
  height:20px;
}
#number{
  border: solid white 1px;
  padding: 7px;
  float: right;
  color: white;
  font-size: 20px;
  margin-left: 340px;
  margin-bottom: 30px;
  width: 18%;
  text-align: center;
}
#elogo{
  margin-left: 550px;
}
#logo{
  margin-top: 20px;
  margin-left: 500px;
}
#span001{
  width:80%;
  margin-left: 22%;
}
#mainbody{
  width: 80%;
  margin-left: 15%;
  margin-right: 1%;
}
.banner1
{
  width: 90%;
  height:180px;
  position: relative;
}
#h1{
  color: white;
  text-align: center;
  margin-left: -14%;
}
#h11{
  color: white;
  text-align: center;
  margin-left: 0%;
}
#why{
	margin-right: 20%;
}	
.whyimg{
  width:30%;
  height: auto;
  display: inline;
}
#cost{
  margin-top: -100px;
}
.banner1:hover{
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.image{
  width: 100%;
  height:180px;
}

.image_overlay{
  position: absolute;
  top: 0px ;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.35s;
}
.image_overlay-blur{
  backdrop-filter: blur(2px);

}
.image_overlay:hover{
  opacity: 1;
}
.btn1:active {
  background-color: #500d10;#according to CSS
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn1:hover {
  background-color: #500d10;
}
.btn1{
padding: 10px;
border: none;
background-color: #5a0e12;
font-family: 'Noto Sans JP', sans-serif;
color: white;
}
.btn:active {
  background-color: #080049;#according to CSS
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn:hover {
  background-color: #080049;
}
.btn{
padding: 10px;
border: none;
background-color: #160c51;
font-family: 'Noto Sans JP', sans-serif;
color: white;
}
.btn2:active {
  background-color: #808080;#according to CSS
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn2:hover {
  background-color: #808080;
}
.btn2{
padding: 10px;
border: none;
background-color: #959595;
font-family: 'Noto Sans JP', sans-serif;
color: white;
}
#pay{
  font-size: 24px;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
}
#payli{
  font-size: 16px;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
}
#disclaimer{
  font-size: 8px;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
}
#form{
  position: relative;
  left: 20%;
  right: 20%;
  border: 2px #959595;
  border-style: dashed;
  text: white;
  width: 60%;
  padding: 9px;
}
.formt{
  color: grey;
}
.b1{
  background-color: #959595;
  margin-left: 38.5%;
  height: 50px;
  width: 120px;
}
#b1{
  background-color: #959595;
  margin-left: 45%
}
h1{
  margin-left: 40%;
  font-family: 'Noto Sans JP', sans-serif;
  color: grey;
}
#ptext{
  display: inline;
  margin-left: 4%;
  color: white;
}
